.content{
    justify-content: center;
    justify-items: center;
    display: flex;

}
.wrapper{
    max-width: 70%;
}
.listContainer {
    margin-top: 4rem;
    justify-content: center;
    justify-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
    flex-grow: 4;

}
