.detailsWrapper {
    padding: 3rem;
    gap: 2rem;
    display: grid;
    grid-template-areas:
        'thumbnail title title title'
        'thumbnail description description description'
        'comics stories series series';
    justify-content: center;
    justify-items: stretch;
}

.portrait {
    width: fit-content;
    height: fit-content;
    grid-area: thumbnail;
}

.heroName {
    grid-area: title;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;

}

.heroDescription {
    width: 100%;
    grid-area: description;
}

.comicList {
    grid-area: comics;


}
.seriesList {
    grid-area: series;


}
.storiesList {
    grid-area: stories;


}

.comicList>a {
    margin-top: 5px;
    text-decoration: none;
    color: black;
}