.detailsWrapper {
    padding: 3rem;
    gap: 2rem;
    display: grid;
    grid-template-areas:
        'thumbnail title title title'
        'thumbnail description description description'
        'comics comics comics comics';
}

.detailsWrapper>* {
    border: solid 1px red;
    margin: 0;
}

.portrait {
    width: fit-content;
    height: fit-content;
    grid-area: thumbnail;
}

.heroName {
    grid-area: title;
    width: 100%;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    text-transform: uppercase;

}

.heroDescription {
    width: 100%;
    grid-area: description;
}

.comicList {
    grid-area: comics;
    padding: 0;
    list-style: none;

}

.comicList>* {
    text-decoration: none;
    color: black;
}