.card {
    background-color: white;
    text-align: center;
    overflow: hidden;
    padding: 1rem;
    display: flex;
    border-radius: 5px;
    border: 3px solid;
    border-color: red;
    min-width: fit-content;
    box-shadow: rgba(240, 46, 46, 0.4) -5px 5px, rgba(240, 46, 46, 0.3) -10px 10px, rgba(240, 46, 46, 0.2) -15px 15px, rgba(240, 46, 46, 0.1) -20px 20px, rgba(240, 46, 46, 0.05)-25px 25px;
    transition: 0.5s;
}

.card:hover {
    background: rgba(255, 255, 255, 0.822);
    transform: translate(5px, -5px);
    transition: 0.2s;
}

.container {
    padding-left: 1rem;
    margin: auto;
}

img {
    margin: none;
    display: block;
    height: 400px;
    width: 300px;
}