.optionWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 64px);
    gap: 10rem;
}

.option {
    background: rgb(2, 0, 36);
    background: linear-gradient(120deg, rgba(2, 0, 36, 1) 0%, rgba(190, 15, 15, 1) 80%, rgba(255, 0, 0, 1) 100%);
    font-size: xx-large;
    font-weight: bold;
    color: white;
    width: 20%;
    height: 50%;
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    min-width: fit-content;
    transition: 0.5s;
}

.option:hover {
    background: rgb(2, 0, 36);
    background: linear-gradient(173deg, rgba(2, 0, 36, 1) 0%, rgba(190, 15, 15, 1) 80%, rgba(255, 0, 0, 1) 100%);
    transform: translate(5px, -5px);
    box-shadow: rgba(170, 4, 4, 0.4) -5px 5px,
        rgba(170, 4, 4, 0.3) -10px 10px,
        rgba(170, 4, 4, 0.2) -15px 15px,
        rgba(170, 4, 4, 0.1) -20px 20px,
        rgba(170, 4, 4, 0.05)-25px 25px;
    letter-spacing: 1rem;
    transition: 0.5s;
}