.title{
    letter-spacing: -5px !important;
    font-weight: 800 !important;
    background-color: rgb(160, 4, 4);
    text-align: center;
    text-decoration: none !important;
    
}
.div-title {
    width: 150px;
    
}
